# Directories
.Assets/HTML
.claude
.git
.github
.gitignore
.pytest_cache
.Scripts/
.venv/
.venv1/
.vscode/
docker-compose.yml
keys.txt
misc
Sample.env
Scripts
src/core/__pycache__
temp.py

# Wildcards
*.git
*.html
*.md
*.sh
*__pycache__

# Environment
.env