# Directories
.Assets/HTML
.claude
.git
.github
.gitignore
.Scripts/
.venv/
.venv1/
.vscode/
docker-compose.yml
keys.txt
misc
Sample.env
Scripts
temp.py
.coverage

# Wildcards
*.git
*.html
*.md
*.sh

# Cache Python / pytest
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Environment
.env
key.db