# Directories
.claude
.dockerignore
.env
.idea
.misc
.venv/
.venv1/
.vscode/
Assets/
docker-compose.yml
keys.txt
misc
temp.py

# Wildcards
*.db
*.git
*.md

# Cache Python / pytest
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Scripts
script.sh

# Environment
.env
src/core/key.db
