# Directories
.claude
.dockerignore
.env
.idea
.misc
.pytest_cache
.venv/
.venv1/
.vscode/
Assets/
docker-compose.yml
keys.txt
misc
temp.py

# Wildcards
*.db
*.git
*.md
*__pycache__

# Scripts
script.sh

# Environment
.env
src/core/key.db
