SENDER='Change This' # E-mail do remetente
PASS='Change This' # App password gerada pelo gmail

MSG_PATH='Change This' # Caminho local dos templates de mensgaem
SUBJECT='Change This' # Assunto do e-mail

HOSTS='Change This' # IPs permitidos oara requisição da API
SMTP_SERVER='smtp.gmail.com'
PORT_SMTP=465
EHELO='localhost'

API_KEY='Change This'